<div class="container-fluid justify-content-center">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form class="register-form" [formGroup]="registerform" (ngSubmit)="onSubmit()" noValidate>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Register</h4>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">College Name </label>
                            <input type="text" class="form-control" formControlName="name" required>
                        </div>


                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">Email </label>
                            <input type="email" class="form-control" formControlName="email">
                        </div>

                        <div class="mb-3 form-group">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password" required
                                minlength="8">
                        </div>


                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">Country </label>
                            <input type="text" class="form-control" formControlName="country" required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">State </label>
                            <input type="text" class="form-control" formControlName="state" required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">City </label>
                            <input type="text" class="form-control" formControlName="city" required>
                        </div>

                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">Phone </label>
                            <input type="tel" class="form-control" formControlName="phone" required>
                        </div>
                        <div class="mb-3 form-group" *ngIf="this.errorMessage">
                            <span class="text-danger">
                                <p [innerText]="this.errorMessage"></p>
                            </span>
                        </div>
                        <div class="text-center" *ngIf="this.loading">
                            <div class="spinner-border text-warning" role="status">
                                <span class="sr-only visually-hidden">Loading...</span>
                            </div>
                        </div>
                        <br>

                        <button (click)="onButtonClick()">Submit</button>


                        <div class="d-grid gap-2 ">
                            <input type="submit" class="btn btn-warning float-right" value="Register"
                                (click)="submit=true" [disabled]="this.loading">

                        </div>


                        <div class="row d-grid gap-2">

                            <p style="padding-top: 5px;padding-bottom: 0;">Already Have an Account?<a class=""
                                    href="javascript:void(0);" routerLink="/login"
                                    style="text-decoration: none; color: #FECB00;"> Login</a>
                            </p>

                        </div>


                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>