<div class="container-fluid justify-content-center">
    <div class="row mt-5">
        <div class="col"></div>
        <div class="col-4">
            <div class="card shadow">
                <div class="card-body">
                    <form class="register-form" [formGroup]="loginform" (ngSubmit)="onSubmit()" noValidate>
                        <div class="mb-3">
                            <h4 class="text-dark text-muted">Login</h4>
                        </div>
                        <div class="mb-3 form-group">
                            <label for="exampleInputEmail1" class="form-label">Email </label>
                            <input type="email" class="form-control" formControlName="email" required>

                        </div>
                        <div class="mb-3 form-group">
                            <label for="exampleInputPassword1" class="form-label">Password</label>
                            <input type="password" class="form-control" formControlName="password" required
                                minlength="8">


                        </div>

                        <div class="d-grid gap-2">
                            <div class="mb-3 form-group" *ngIf="this.errorMessage">
                                <span class="text-danger">
                                    <p [innerText]="this.errorMessage"></p>
                                </span>
                            </div>
                            <div class="text-center" *ngIf="this.loading">
                                <div class="spinner-border text-warning" role="status">
                                    <span class="sr-only visually-hidden">Loading...</span>
                                </div>
                            </div>


                            <br>
                            <div class="d-grid gap-2 ">
                                <input type="submit" class="btn btn-warning float-right" value="Login"
                                    (click)="submit=true" [disabled]="this.loading">
                                <input type="submit" class="btn btn-warning float-right" routerLink="/register"
                                    value="Register">

                            </div>
                            <div class="d-flex justify-content-end">
                                <a href="javascript:void(0);" routerLink="/forgot-password"
                                    style="text-decoration: none; color: #FECB00;">Forgot
                                    Password</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col"></div>
    </div>
</div>