<nav class="navbar navbar-expand-md navbar-dark bg-warning">
    <a class="navbar-brand" href="javascript:void(0);" routerLink="/" style="color: black; padding-left: 20px;"> <img
            src="assets/logo.png" style="height: 27px;" alt=""> ConnectBeez</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
        aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">

            <ng-container *ngIf="(this.auth.isAuthenticated());then authenticated ;else notAuthenticated">

            </ng-container>

            <ng-template #notAuthenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/register" class="nav-link">Register</a>

                </li>
                <li><a class="nav-link" href="javascript:void(0);" routerLink="/login">Login</a></li>
            </ng-template>

            <ng-template #authenticated>
                <li class="nav-item"><a href="javascript:void(0);" routerLink="/dashboard"
                        class="nav-link">Dashboard</a></li>

                <li class="nav-item"><a href="javascript:void(0);" *ngIf="isadmin" routerLink="/user"
                        class="nav-link">User</a>
                </li>

                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                        aria-expanded="false"> <img [src]="this.user.profileUrl"
                            style="height: 25px; border-radius: 25px; " alt="">

                        Profile
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="nav-link" href="javascript:void(0);" (click)="logout()"><svg
                                    xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                        d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0z" />
                                    <path fill-rule="evenodd"
                                        d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708z" />
                                </svg> Logout</a></li>
                    </ul>
                </li>
            </ng-template>

        </ul>

    </div>
</nav>